@*@model DAP.Plantilla.Models.PermisosModels.PermisosUsuarioModel*@




<section>

    <div class="col-12 TxtNegrita margenAlPie">
        <div class="text-center TxtNegrita">
            <h1>BIENVENIDO</h1>
        </div>
    </div>


    <div class="col-12 text-center margen">
        <div class="contenedor" style=" margin-bottom: 42px;">
            <div class=" hijo">
                <img src="~/Imagenes/ESCUDO_GRIS.png" class="margen" alt="Sample image" style="height: 200px; width:110px; margin-top:6px;">

                @{

                    DAP.Plantilla.Models.SesionesDatosModels.InformacionEmpleadoSesionModel NuevoEmpleadoCorrectamenteLogueado = (DAP.Plantilla.Models.SesionesDatosModels.InformacionEmpleadoSesionModel)Session["UsuarioAPP"];
                }

                <li class="list-group-item">@NuevoEmpleadoCorrectamenteLogueado.NombreEmpleado</li>
                <li class="list-group-item">@NuevoEmpleadoCorrectamenteLogueado.Puesto</li>
            </div>
        </div>
    </div>

</section>

