




<section >

    <div class="col-12 TxtNegrita margenAlPie">
        <div class="text-center TxtNegrita">
          <h1>BIENVENIDO</h1>
        </div>
    </div>


    <div class="col-12 text-center margen">
        <div class="contenedor" style=" margin-bottom: 42px;">
            <div class=" hijo">
                <img src="~/Imagenes/ESCUDO_GRIS.png" class="margen" alt="Sample image" style="height: 200px; width:110px; margin-top:6px;">


                <li class="list-group-item">@ViewBag.NombreEmpleado</li>
                <li class="list-group-item">@ViewBag.Puesto</li>
            </div>
        </div>
    </div>

</section>

